<a href="https://colab.research.google.com/github/chunkedejay/firstpro/blob/master/chuks_pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 marks=int(input('Enter your marks:'))
if marks>=40:
  print('Congrats, you have passed!')
else:
  print('Failed, Better Luck Next Time!')

Enter your marks:30
Failed, Better Luck Next Time!

In [ ]:
marks=int(input('Enter your marks:'))
if marks>=70:
  print('Grade A')
elif marks>=60 and marks<=69:
  print('Grade B')
elif marks>=40 and marks<=59:
  print('Grade C')
else:
  print('Better luck, Next time!')

Enter your marks:50
Grade C

In [ ]:
marks=int(input('Enter your marks:'))
if marks>=90:
  print ('Grade A')
elif marks>=70 and marks<=89:
  print ('Grade B') 
elif marks>=60 and marks<=69:
  print ('Grade C') 
elif marks>=45 and marks<=59:
  print ('Grade D') 
else: 
  print ('Grade F')

Enter your marks:50
Grade D

In [72]:
weight=int(input('Enter Weight:'))
unit=input('kgs or (l)bs:')
converted= weight/0.45
if unit.upper()<='20':
  print ('weight in (l)bs:', str(converted))
else:
  converted= weight*0.45
  print ('weight in Kgs:', str(converted))

Enter Weight:21
kgs or (l)bs:21
weight in Kgs: 9.450000000000001

In [52]:
bYear=int(input('Enter Birth year:'))
age=2022-(bYear)
print (age,'years old.')

Enter Birth year:1945
77 years old.

In [ ]:
n=int(input('Enter your minimum number:'))
while n<=100:
  print(n)
  n=n+2

Enter your minimum number:1
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
n=int(input('Enter minimum number:'))
for n in range (2,100,2):
  print(n)

Enter minimum number:1
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
num=-2
if num>=0:
 print ('positive or zero')
else:
   print('Negative Number')

Negative Number

In [ ]:
n=6

while n<6:
  print('hello world')

else:
  print('outside loop')

outside loop

In [ ]:
name=('Chuks')
marks=(60)
print(name, marks)

Chuks 60

In [22]:
First_name=input('Enter First Name:')
Last_name=input('Enter Last Name:')
print(First_name,Last_name)

Enter First Name:chuks
Enter Last Name:James
chuks James

In [ ]:
num= input('Enter number:')
print(num)
name=input('Enter name:')
print(name)
print('type of number',type(num))
print('type of name',type(name))

Enter number:2609
2609
Enter name:chuks
chuks
type of number <class 'str'>
type of name <class 'str'>

In [ ]:
Myname=(input('Enter your name:'))
Mymark=int(input('Enter your marks:'))
print('my name is',Myname, 'and i got', Mymark)

Enter your name:chuks
Enter your marks:260
my name is chuks and i got 260